In [150]:
import pandas as pd
import ast

df = pd.read_csv('all_iadp_people.csv',encoding='ISO-8859-1',sep='|',names=['advisor','current_company','disclosures','company_history','start','end','company_location'])

In [151]:
def col2list(col):
    new_col = []
    count = 0
    for i in df[col]:
        new_col.append(ast.literal_eval(i))
        count += 1
    ser = pd.Series(new_col)
    df[col] = ser
change_list = ['company_history','start','end','company_location']
for i in change_list:
    col2list(i)
df.head()

,advisor,current_company,disclosures,company_history,start,end,company_location
0,MATTHEW J BROZOVIC,149777.0,0,"[CITIGROUP GLOBAL MARKETS INC., MORGAN STANLEY...","[07/1993, 06/2009, 01/2015]","[06/2009, 01/2015, 04/2017]","[CHICAGO IL, CHICAGO IL, NEW YORK NY]"
1,MARK ROBERT HANSON,1137.0,0,"[PRINCIPAL LIFE INSURANCE COMPANY, PRINCOR FIN...","[07/1998, 10/1990, 04/2000]","[10/1990, 04/2000, 04/2017]","[DES MOINES IA, DES MOINES IA, NAPERVILLE IL]"
2,Steven H. Tolley,250.0,0,"[EDWARD D. JONES & CO., L.P.]",[03/1992],[04/2017],[OREM UT]
3,STEVEN ROY WILLIAMSON,6363.0,0,"[Ameriprise Financial Services, Inc.]",[02/1992],[04/2017],[Midlothian VA]
4,CAROL FRANCES HENRICK,14869.0,0,"[METROPOLITAN LIFE INSURANCE COMPANY, METLIFE ...","[10/1989, 10/1989, 01/2011, 01/2011, 10/2010, ...","[09/2010, 09/2010, 01/2011, 12/2011, 12/2010, ...","[LAKE ST LOUIS MO, LAKE ST LOUIS MO, LINCOLN N..."

In [152]:
from datetime import datetime
from collections import namedtuple
def date_diff(date1,date2,date11,date22):
    Range = namedtuple('Range', ['start','end'])
    #date1 = '07/1993'.split('/')
    date1 = date1.split('/')
    date2 = date2.split('/')
    '''
    if int(date1[0]) > int(date2[0]) and int(date1[1]) > int(date2[1]):
        f = date1
        date1 = date2
        date2 = f
    '''
    date11 = date11.split('/')
    date22 = date22.split('/')
    r1 = Range(start=datetime(int(date1[1]), int(date1[0]), 14), end=datetime(int(date2[1]), int(date2[0]), 14))
    r2 = Range(start=datetime(int(date11[1]), int(date11[0]), 14), end=datetime(int(date22[1]), int(date22[0]), 14))
    latest_start = max(r1.start, r2.start)
    earliest_end = min(r1.end, r2.end)
    overlap = (earliest_end - latest_start).days + 1
    return overlap

In [153]:
def name_index(name):
    for index in range(0,len(df['advisor'])):
        i = str(df['advisor'][index])
        if name.lower() == i.lower():
            return index

In [154]:
def how_long(name): # is this function supposed to take another name
    """Checks how long a certain has worked with who?"""
    input_name_index = name_index(name)
    for company_input_index in range(0,len(df['company_history'][input_name_index])):
        company_input = df['company_history'][input_name_index][company_input_index]
        for advisor_index in range(0,len(df['advisor'])):
            if company_input in df['company_history'][advisor_index]:
                if df['company_location'][input_name_index][company_input_index] in df['company_location'][advisor_index]:
                    advisor_matching_index = df['company_location'][advisor_index].index(df['company_location'][input_name_index][company_input_index])
                    date1 = df['start'][input_name_index][company_input_index]
                    date2 = df['end'][input_name_index][company_input_index]
                    date11 = df['start'][advisor_index][advisor_matching_index]
                    date22 = df['end'][advisor_index][advisor_matching_index]
                    dd = date_diff(date1, date2, date11, date22)
                    if dd != 0:
                        print(df['advisor'][advisor_index] + ': ' + str(dd))

In [155]:
how_long('STEVEN ROY WILLIAMSON')

STEVEN ROY WILLIAMSON: 9192
CHRISTOPHER AMSBARG BRENNAN: 4231